.services {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;

    h1 {
        background-color: #ff8177;
        background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
        @include changeBackgroundToTextColor();
        margin-bottom: 5rem;
        font-size: 2.5rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    &__card {
        margin: 10px;
        height: 425px;
        width: 300px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        background-image: linear-gradient(to right, #00dbdb 0%, #fc00ff 100%);
        transition: 0.3s ease-in;

        &:nth-child(2) {
            background: #1FA2FF;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &:nth-child(3) {
            background: #1FA2FF;  /* fallback for old browsers */
            background: linear-gradient(-225deg, #231557, #44107a, #ff1361, #fff800); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            margin-top: 24px;
            font-size: 20px;
        }

        button {
            color: white;
            padding: 14px 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: #131313;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            transform: scale(1.075);
            transition: 0.3s ease-in;
            cursor: pointer;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .services {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 768px) {
    .services {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}